<h1>{{title}}</h1>
<p>Welcome  </p>
<section id='pancake-listing'>
  <h2>Pancakes Listing</h2>
</section>
<script type="text/template" id="recipe-template">
<article class="">
  <strong>Name</strong>: <%= Name %><br>
  <strong>Ingredients List</strong>: <%= IngredientList %> <br>
  <strong>Preparations</strong>: <%= Preparations %> <br>
  <strong>Cooking Instructions</strong>: <%= CookingInstructions %> <br>
  <strong>Rating</strong>: <%= Rating %> <br>
</article>
</script>
<script type="text/javascript" src="/javascripts/app.js"></script>
