<h1>{{title}}</h1>
<p>Welcome  </p>
<section id='recipe-form'>
  <input type="text" id="p-name" placeholder="Name">
  <input type="text" id="p-ingredient" placeholder="Ingredient List">
  <input type="text" id="p-preparations" placeholder="Preparations">
  <input type="text" id="p-instructions" placeholder="Cooking Instructions">
  <input type="text" id="p-rating" placeholder="Rating">
  <button type="button" id='formButton'>Add Recipe</button>
  <div class="error"></div>
</section>



<section id='pancake-listing'>
  <h2>Pancakes Listing</h2>
</section>
<script type="text/template" id="recipe-template">
<article class="">
  <strong>Name</strong>: <%= Name %><br>
  <strong>Ingredients List</strong>: <%= IngredientList %> <br>
  <strong>Preparations</strong>: <%= Preparations %> <br>
  <strong>Cooking Instructions</strong>: <%= CookingInstructions %> <br>
  <strong>Rating</strong>: <%= Rating %> <br>
</article>
</script>
<script type="text/javascript" src="/javascripts/app.js"></script>
